body{
    background: #CC0001
}
.logo{
    border-radius: 50%;
}
h1,h2{
    text-align: center;
}
.carousel {
    display: block;
    margin-top: 25px;
}

.hino{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}